<ion-app>
  <ion-router-outlet></ion-router-outlet>  
  <ion-menu contentId="app-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/home">
          Home
        </ion-item>
        <ion-item button routerLink="/vosk_recognize_tab">
          Recognize
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="app-content"></ion-router-outlet>  
</ion-app>
